<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Add Student">
        </form>
        <table class="table">
            <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Contact Name</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Blood Group</th>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                <tr>
                    <!-- <th scope="row">{{person.encrypted_id}}</th> -->
                    <td>{{person.name}}</td>
                    <td>{{person.contactNumber}}</td>
                    <td>{{person.address}}</td>
                    <td>{{person.blood_group}}</td>
                    <td><a class="btn btn-danger" href="delete_person/{{person.encrypted_id}}" role="button">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <script>
        async function get_data(){
            const response = await fetch("get_all_persons/");
            let data = await response.json();
            data = JSON.parse(data);
            console.log(data);
        }
        get_data();
    </script>
</body>

</html>